
<!-- <mat-chip-list aria-label="Fish selection">
    <mat-chip color="primary" >new user</mat-chip>
    <mat-chip color="accent" >User exist</mat-chip>
</mat-chip-list> -->
<!-- <div class="example-button-row">
    <button mat-raised-button color="warn">enter</button>
    <button mat-raised-button color="warn">create a new account</button>
    <br>
    
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
   -->
<div id="cellolarge">cellolarge</div>
<button (click)="navigatePage('private_area')">איזור אישי</button>
<button>חוות דעת</button>
<button>חברות הסלולאר</button>
<button>סוגי מכשירים</button>
<p id="good coverage">?So which cellular company has the best coverage for you</p>
<p>?What's your address</p>
<input placeholder="Example:menachem begin 18, tel-aviv">
<button id="Search">Search</button>
<p>In order to get accurate information for you you need to register and enter details</p>


