// .example-button-row {
//     display: table-cell;
//   }
  
//   .example-button-row button {
//     display: table-cell;
//     margin-right: 8px;
//   }
#cellolarge{
  width: 100%;
  height: 20%;
  border: 3px blue solid;
 margin: auto;
  font-family:initial;
  font-size: 150px;
  // padding-top: 5%;
}
button{
  width: 23%;
  height:8%;
  margin: 0.4%;
 background-color: lightblue;
 border: 2px blue solid;
}  
